html {
  background-color: #fcbf1e;
  background-image: repeating-linear-gradient(
    135deg,
    #fcbf1e,
    #fcbf1e 20px,
    #fdd052 20px,
    #fdd052 24px
  );;
  background-attachment: fixed;
  color: #120136;
}

.controller-board-select-list {
  display: inline-block;
  margin: 0 1em;
  cursor: pointer;
}

.controller-table {
  margin: 0 auto 3em;
}

.konvajs-content {
  box-shadow: 0 0 3px 1px rgba(255,255,255,1) inset;
  background-color: #fdd052;
}

.konvajs-content canvas {
  transition: 0.3s opacity ease-in;
}

.konvajs-content canvas.dragover {
  opacity: 0.5;
}

.canvas-wrapper {
  margin: 0 auto 1.5em;
  position: relative;
}

.canvas-text {
  font-size: large;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  transition: font-size 1s;
  margin-bottom: 1em;
}

.App-header.active {
  font-size: calc(5px + 0.5vmin);
}
