html {
  background-color: #13161b;
  background-image: repeating-linear-gradient(
    135deg,
    #13161b,
    #13161b 20px,
    #222831 20px,
    #222831 24px
  );;
  background-attachment: fixed;
  color: #cccccc;
}

.controller-table {
  margin: 0 auto;
}

.konvajs-content {
  box-shadow: 0 0 3px 1px rgba(255,255,255,1) inset;
  background-color: #13161b;
}

.konvajs-content canvas {
  transition: 0.3s opacity ease-in;
}

.konvajs-content canvas.dragover {
  opacity: 0.5;
}

.canvas-wrapper {
  margin: 0 auto 1.5em;
  position: relative;
}

.canvas-text {
  font-size: large;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);;
}

.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  transition: font-size 1s;
  color: white;
  margin-bottom: 1em;
}

.App-header.active {
  font-size: calc(5px + 0.5vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
